<% content_for :title, "各種手続" %>

<h1>各種手続</h1>
口座進入用固有文字列：<%= @current_account.login_password %><br />
<%= button_to "口座退出", logout_path, method: :delete, data: { turbo: false }, style: "display: inline;" %>
<%= form_with(model: @account, url: account_path(@account.name_id)) do |form| %>
  <%= render("shared/error_messages", instead: @account) %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :bio, style: "display: block" %>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.submit '更新' %>
  </div>
<% end %>

<br />
<br />
<br />
<br />

<%= button_to "口座削除", account_path(@current_account.name_id), method: :delete, data: { turbo: false }, style: "display: inline;" %>