<div>
  <h1>次世代中華風電子共同体</h1>
  <%= link_to("投稿一覧", posts_path) %>
  <% unless @current_account %>
    <h2>得句巣乃使用開始</h2>
    <p>貴方以下規約同意必須</p>
    <p>使用開始後、貴方規約同意済認識</p>
    <p><small>※利用開始すると利用規約及びプライバシーポリシーに同意したとみなされます。</small></p>
    <%= form_with(model: @account) do |form| %>
      <%= render "shared/error_messages", instead: @account %>
      <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name, value: @account.name.presence || "無名", class: "account-new-textfield" %>
      </div>
      <br />
      <div>
        <%= form.submit "開始", class: "account-new-button" %>
      </div>
    <% end %>
    <br />
    <%= button_to "ANYUR続行", oauth_path, method: :post, data: { turbo: false }, style: "display: inline;" %>
    <br />
    <%= link_to("既口座作成済", new_account_path) %>
  <% end %>
</div>