<% content_for :title, "投稿作成" %>

<h1>投稿作成</h1>

<%= form_with(model: @post, params: {replied: params[:replied]}) do |form| %>
  <%= render "shared/error_messages", instead: @post %>
  <% if params[:replied] %>
    <div>返信</div>
    <%= form.hidden_field :replied, value: params[:replied] %>
  <% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.textarea :content %>
  </div>

  <div>
    <%= form.submit "投稿" %>
  </div>
<% end %>