<% content_for :title, "投稿拝見" %>

<h1>投稿拝見</h1>

<div class="show-post">
  <div class="post-account">
    <%= link_to(@post.account.name, account_path(@post.account.name_id)) %>
  </div>
  <div class="post-info">
    <div>
      <% if(@post.replied) %>
        <%= link_to("返信", post_path(@post.replied.aid)) %>
      <% end %>
    </div>
    <%= link_to(to_kanji_date(@post.created_at), post_path(@post.aid)) %>
  </div>
  <div class="post-content">
    <%= simple_format(@post.content) %>
  </div>
  <div class="post-console" id="<%= @post.aid + '-console' %>">
    <%= render "posts/console", post: @post %>
  </div>
</div>

<% @post.replies.each do |post| %>
  <%= render post %>
<% end %>

<%= link_to("投稿一覧", posts_path) %>
