<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(content_for(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ffffff" />
    <meta name="color-scheme" content="light" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content="kisana" />
    <meta name="generator" content="amiverse" />
    <meta name="description" content="次世代中華風電子共同体" />
    <meta name="keywords" content="中華風, 偽中国語, 漢字" />
    <meta name="robots" content="index follow" />
    <meta name="creator" content="kisana" />
    <meta name="googlebot" content="index follow" />
    <meta name="publisher" content="amiverse" />
    <meta name="format-detection" content="email=no,telephone=no,address=no" />
    <meta property="og:url" content="<%= request.path %>" />
    <meta property="og:title" content="<%= full_title(content_for(:title)) %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="次世代中華風電子共同体" />
    <meta property="og:image" content="<%= URI.join(request.base_url, "/x-1.png").to_s %>" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:site_name" content="得句巣" >
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="得句巣" />
    <meta name="twitter:site:id" content="x.amiverse.net" />
    <meta name="twitter:title" content="<%= full_title(content_for(:title)) %>" />
    <meta name="twitter:description" content="次世代中華風電子共同体" />
    <meta name="twitter:image" content="<%= URI.join(request.base_url, "/x-1.png").to_s %>" />
    <meta name="twitter:image:alt" content="" />
    <meta name="twitter:creator" content="kisana" />
    <meta name="twitter:creator:id" content="kisana_me" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/favicon.ico">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5MW7M77S9F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5MW7M77S9F');
    </script>
  </head>

  <body>
    <header>
      <div class="h-left">
        <%= link_to("得句巣", root_path) %>
      </div>
      <div class="h-right">
        <% if @current_account %>
          名前：<%= link_to(@current_account.name, account_path(@current_account.name_id)) %>
        <% else %>
          <%= link_to('口座：作成・進入', new_account_path) %>
        <% end %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <% flash.each do |message_type, message| %>
      <div class="flash <%= message_type %>"><%= message %></div>
    <% end %>
    <footer>
      <div class="f-top">
        <%= link_to("得句巣", root_path) %>
      </div>
      <div class="f-middle">
        <%= link_to("利用規約", terms_path) %>
        <%= link_to("個人情報取扱", privacy_path) %>
        <%= link_to("問合", contact_path) %>
      </div>
      <div class="f-bottom">
        <small>著作権：得句巣 全権利保有</small>
      </div>
    </footer>
  </body>
</html>
